<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
  </system.web>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=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" />
        </DbProviderFactories>
    </system.data>
</configuration>
